.title {
  font: var(--font-secondary);
  text-transform: uppercase;
}

.input {
  height: 48px;
  padding: 0;
}

.withdraw {
  border: 1px solid var(--gray-color-7);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: normal;
  padding: 10px;
  max-width: 540px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
}

.balance {
  font: var(--font-secondary);
  text-transform: uppercase;
  opacity: 0.3;
}

.rewardBtn {
  justify-content: center;
  height: 48px;
  width: 150px;
}

@media screen and (max-width: 1140px) {
  .withdraw {
    max-width: 100%;
  }
}

@media screen and (max-width: 769px) {
  .withdraw {
    min-width: 100%;

    .footer {
      flex-wrap: wrap;
    }
  }

  .rewardBtn {
    width: 100% !important;
  }
}

.balanceWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
