.connectBtn {
  display: flex;
  justify-content: center;
  border: 1px solid var(--gray-color-3);
  font: var(--font-btn-small);
  padding: 12px 0;
  width: 100%;

  &:hover {
    border-color: var(--gray-color-3);
  }
}
