.label {
  border: 1px solid var(--gray-color-3);
  padding: 6px 8px;
  height: 24px;
  font-weight: bold;
  font-size: 10px;
  display: inline-block;
  cursor: pointer;
  color: var(--white-color);

  svg {
    max-width: 14px;
  }

  @media screen and (max-width: 550px) {
    font-size: 9px;
  }
}

.labelStrict {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: default;
  text-transform: uppercase;
  padding: 2px 8px;

  span {
    margin-top: 2px;
  }
}

.labelVerified {
  border-color: var(--yellow-color);
  color: var(--yellow-color);
}

.labelUnverified {
  border-color: var(--red-color);
  color: var(--red-color);
}
