.container {
  max-width: 730px;
  min-width: 600px;
  margin: 0 auto;
  padding: 64px 0;
  align-self: flex-end;
  justify-self: flex-start;

  @media screen and (max-width: 767px) {
    min-width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.title {
  font: var(--font-title-2);
  margin-bottom: 8px;
}

.subtitle {
  font: var(--font-text-2);
  margin-bottom: 36px;
}

.loading {
  height: 100%;
  display: flex;
  align-items: center;
}
