@import '../../scss/abstracts/variables.scss';

.root {
  transition: background-color var(--transition-1),
    border-color var(--transition-1), color var(--transition-1);
  border: 1px solid transparent;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.primary,
.secondary {
  font: var(--font-btn-mid);
  border-color: var(--gray-color-5);
  padding: 4px 20px;
  color: var(--white-color);

  &:hover {
    background-color: var(--gray-color-5);
    border-color: var(--gray-color-5);
  }
}

.secondary {
  font: var(--font-btn-small);
  text-transform: uppercase;
}

.tertiary {
  background: var(--accent-shadow-color);
  border-color: var(--accent-color-1);
  font: var(--font-btn-small);

  &:hover {
    background: var(--accent-color-1);
  }
}

.alternative {
  padding: 32px 20px;
  background-color: var(--accent-color-1);
  border-color: var(--accent-color-1);
  color: var(--white-color);

  &:hover {
    background-color: var(--accent-color-3);
    border-color: var(--accent-color-3);
  }
}

.link {
  display: inline-block;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
