.loadingContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  font: var(--font-btn-mid);
  color: var(--white-color);
}

.successContent {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font: var(--font-subtitle);
  }

  &__subtitle {
    font: var(--font-body-small);
  }

  &__fractionsMintWrapper {
    padding-top: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white-color);

    b {
      font-weight: 700;
    }
  }
}

.failContent {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font: var(--font-subtitle);
  }

  &__subtitle {
    font: var(--font-body-small);
    margin-bottom: 32px;
  }

  &__retryBtn {
    padding: 16px 20px;
  }
}
