.wrapper {
  padding-bottom: 100px;
}

.nftList {
  margin-top: 50px;

  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 15px;

  @media screen and (max-width: 1199px) {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }

  @media screen and (max-width: 550px) {
    grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
  }
}
