.navigation {
  display: flex;
  height: 100%;
  margin-left: auto;

  @media screen and (max-width: 1023px) {
    display: none;
    margin-left: 0;
    margin-right: 0;
    height: unset;
  }
}

.navigationItem {
  height: 100%;

  a,
  button {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.navigationLink {
  color: var(--white-color);
  padding: 0 16px;

  &:hover {
    color: var(--white-color);
  }
}

.title {
  font: var(--font-subtitle-2);
}

.subtitle {
  margin-top: 7px;
  font: var(--font-text-3);
}

.content {
  display: flex;
  flex-direction: column;
}

.list {
  max-width: 312px;
}

.linkList {
  .link {
    padding: 20px;
  }
  &::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--gray-color-3);
  }
  &:last-child {
    margin-right: 0;

    &::after {
      display: none;
    }
  }
}

.dropdownLink {
  color: var(--white-color);
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0 16px;

  svg {
    margin-right: 10px;
  }
}
