.wrap {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
}

.modal {
  :global {
    .ant-modal-content {
      border: 1px solid var(--gray-color-3);
      border-radius: 0;
    }

    .ant-modal-body {
      font: var(--font-body-small);
      color: var(--gray-color-8);
    }

    .ant-modal-content,
    .ant-modal-header,
    .ant-modal-footer {
      background-color: var(--black-color);
    }

    .ant-modal-header {
      padding-bottom: 8px;
      border-bottom: 0;
    }

    .ant-modal-title {
      font-style: normal;
      font: var(--font-h4);
      color: var(--white-color);
    }
  }
}

.close {
  margin-top: 35px;
  margin-right: 35px;
}

.okButton {
  background: var(--accent-color-1);
  border-radius: 0 !important;
}

.cancelButton {
  border-radius: 0 !important;
}
