.container {
  max-width: 730px;
  min-width: 600px;
  margin: 0 auto;
  padding: 64px 0;
  align-self: flex-end;
  justify-self: flex-start;
}

.title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 8px;
}

.description {
  font-size: 24px;
  margin-bottom: 36px;
}

.settings {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;

  svg {
    cursor: pointer;
  }
}

.input {
  margin-bottom: 24px;

  &_receive {
    cursor: not-allowed;
    pointer-events: none;
  }
}

.secondInput {
  margin-bottom: 32px;
}

.info {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  font: var(--font-secondary);

  &::after {
    height: 1px;
    content: '';
    background-color: var(--gray-color-3);
    flex-grow: 1;
    order: 2;
  }

  &__title {
    order: 1;

    &Name {
      margin-right: 12px;
    }
  }

  &__value {
    order: 3;
  }

  @media screen and (max-width: 560px) {
    gap: 20px;
  }
}

.btn {
  width: 100%;
  justify-content: center;
}

.exchange {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.changeSidesBtn {
  display: block;
  margin: 0 auto;
  width: 48px;
  height: 48px;
  background: var(--accent-color-1);
  border: unset;
  cursor: pointer;
  transition: background var(--transition-1);

  &:hover {
    background: var(--accent-color-3);
  }

  svg {
    transform: rotate(90deg);
  }
}

.settingsModal {
  &__title {
    font: var(--font-btn-mid);
    margin-bottom: 8px;
  }

  &__slippageInputs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 30px;
    grid-gap: 15px 30px;
  }

  &__inputWrapper {
    width: 140px;
    position: relative;

    &::before {
      content: '%';
      position: absolute;
      display: block;
      right: 1px;
      bottom: 1px;
      font-size: 24px;
      padding: 9px 15px 9px 16px;
      height: calc(100% - 2px);
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--black-color);
      z-index: 2;
    }
  }

  &__btn {
    background: var(--black-color);
    transition: background var(--transition-1), border-color var(--transition-1);
    color: var(--white-color);
    border: 1px solid var(--gray-color-3);
    min-width: 120px;
    cursor: pointer;
    height: 59px;

    &:hover {
      background: var(--accent-color-3);
      border-color: var(--accent-color-3);
    }

    &_active {
      background: var(--accent-color-1);
      border-color: var(--accent-color-1);
      pointer-events: none;
    }
  }

  &__slippageErrors {
    padding-top: 12px;
    color: var(--red-color);
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

body .settingsModal__input {
  position: relative;
  width: 140px;
  height: 59px;
}
