.positionRelative {
  position: relative;
}

.contentWrapper {
  padding-top: 64px;
  padding-bottom: 64px;
}

.contentReducer {
  padding-right: 395px;

  @media screen and (max-width: 1023px) {
    padding-right: 0;
  }
}

.title {
  font: var(--font-h4);
  margin-bottom: 12px;
}

.search {
  margin-bottom: 32px;
}

.connectBtn {
  width: 100%;
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: unset;
}

.artsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 32px;
  align-items: stretch;
}
