.header {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: var(--black-color);
  height: var(--header-height);
  transition: top 0.2s ease-out;
  z-index: 90;
  font-family: var(--font-family-oxanium);
  border-bottom: var(--border-gray-1);
}

.link {
  color: var(--white-color);
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0 16px;

  &:hover {
    text-decoration: none;
    color: var(--white-color);
  }
}

.profileWrapper {
  height: 100%;

  .walletBtn {
    padding: 0 20px;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    height: 100%;
    font-size: 18px;

    @media screen and (max-width: 767px) {
      font-size: 14px;
      padding: 0 15px;
    }

    @media screen and (max-width: 500px) {
      font-size: 10px;
      padding: 0 10px;
    }

    &.walletConnectedBtn {
      background: var(--gray-color-7);
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: color 0.2s ease-in, background-color 0.2s ease-in;

      &:hover {
        background-color: var(--gray-color-4);
        color: var(--black-color);

        svg {
          fill: var(--black-color);
        }
      }
    }

    &__icon {
      width: 16px;
      height: 16px;
      fill: var(--white-color);
      transition: fill 0.2s ease-in;
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white-color);
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 10px;
  position: relative;

  @media screen and (max-width: 500px) {
    font-size: 15px;
  }

  &:hover {
    text-decoration: none;
    color: var(--font-btn-small);
  }
}

.buttons {
  display: flex;
  align-items: stretch;
  height: 100%;

  @media screen and (max-width: 1023px) {
    margin-left: auto;
    margin-right: 15px;
  }
}

.bgAccent {
  background: var(--accent-color-1);
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 767px) {
    font-size: 14px;
  }

  @media screen and (max-width: 500px) {
    font-size: 10px;
  }

  a {
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (max-width: 767px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @media screen and (max-width: 500px) {
      padding-left: 10px;
      padding-right: 10px;
      text-transform: uppercase;
    }
  }
}

.activeLink {
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: underline;
  }
}

body .walletInfo {
  width: 315px;
  max-width: unset;
  padding: 16px 0 0 0;

  :global {
    .ant-tooltip-inner {
      background: var(--white-color);
      padding: 24px;
      border-radius: 0;
    }

    .ant-tooltip-arrow {
      width: 30px;
      height: 30px;
      top: 0;
    }

    .ant-tooltip-arrow-content {
      width: 30px;
      height: 30px;
      margin: auto;
      background-color: var(--white-color);
    }
  }
}

.burgerIcon {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  right: 15px;
  top: 24px;
  z-index: 11;

  &::after,
  &::before {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transition: transform 0.2s ease-in, margin-top 0.2s ease-in;
  }

  &::before {
    margin-top: -6px;
  }

  &::after {
    margin-top: 4px;
  }

  &.opened::before {
    transform: rotate(-45deg);
    margin-top: -1px;
  }

  &.opened::after {
    transform: rotate(45deg);
    margin-top: -1px;
  }

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.menuOverlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 10;
  min-height: 300px;
  overflow: auto;

  &.menuOverlayHidden {
    display: none;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 88px;
    width: 100%;
    border-bottom: 1px solid var(--gray-color-3);
  }
}
