.wrapper {
  display: flex;
  position: relative;
}

.contentWrapper {
  padding-top: 64px;
  padding-left: 20px;
  flex-grow: 1;
  width: calc(100% - 215px);
  position: relative;
  padding-bottom: 60px;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 100%;
    top: 0px;
    left: -1px;
    background-color: var(--color-gray-4);

    @media screen and (max-width: 700px) {
      content: unset;
    }
  }

  @media screen and (max-width: 767px) {
    padding-top: 50px;
  }

  @media screen and (max-width: 700px) {
    padding-left: 0;
    padding-top: 30px;
  }
}

.filtersIconWrapper {
  color: var(--accent-color-1);
  font-size: 15px;
  display: none;
  margin-right: auto;

  @media screen and (max-width: 700px) {
    display: block;
  }

  svg {
    margin-left: 8px;
  }
}

.searchSortWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  flex-wrap: wrap;

  @media screen and (max-width: 450px) {
    margin-bottom: 35px;
  }

  .search {
    min-width: 330px;
    width: auto;
    padding: 0;

    > input {
      font: var(--font-text-3);
    }

    @media screen and (max-width: 800px) {
      margin-bottom: 30px;
    }

    @media screen and (max-width: 450px) {
      width: 100%;

      > input {
        font-size: 15px;
      }
    }
  }
}

.searchWrapper {
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.arrowUp,
.arrowDown {
  position: relative;
  top: 2px;
  path {
    stroke: var(--white-color);
  }
}

.arrowDown {
  transform: rotate(180deg);
}

.sortingSelect {
  min-width: 270px;
}

.sortingSelect {
  @media screen and (max-width: 450px) {
    font-size: 15px;
  }
  @media screen and (max-width: 801px) {
    min-width: 100%;
  }
}

.sortingSelectValueContainer {
  svg {
    position: relative;
    top: 2px;
    path {
      stroke: var(--accent-color-1);
    }
  }
}

.sortWrapper {
  margin-left: auto;

  @media screen and (max-width: 800px) {
    margin-left: 0;
  }
}
