.checkbox {
  width: 100%;

  &:hover {
    :global {
      .ant-checkbox-input + .ant-checkbox-inner {
        border-color: var(--accent-color-1);
        background-color: var(--accent-shadow-color);
      }
    }
  }

  :global {
    .ant-checkbox {
      + span {
        padding-left: 5px;
      }

      .ant-checkbox-inner {
        width: 18px;
        height: 18px;
        border: var(--border-gray-1);
        border-radius: 0;
      }
    }

    .ant-checkbox-inner::after {
      top: 7px;
      left: 4px;
    }

    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
    .ant-checkbox-checked .ant-checkbox-inner,
    .ant-checkbox:hover .ant-checkbox-inner {
      border-color: var(--accent-color-1);
      background-color: var(--accent-shadow-color);
    }
  }
}
