.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font: var(--font-btn-mid);
  color: var(--white-color);
}

.infoTitle {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.25em;

  @media screen and (max-width: 450px) {
    font-size: 35px;
  }
}

.infoSubtitle {
  font-size: 18px;
  line-height: 24px;
  opacity: 0.5;
  text-align: left;
  margin-bottom: 160px;
}
