.sidebar {
  padding-top: 20px;
  padding-bottom: 50px;
  padding-right: 20px;
  max-width: 214px;
  width: 100%;
  border-right: var(--border-gray-1);
  transition: transform 0.2s ease-in;
  z-index: 9;
  height: calc(100vh - var(--header-height));
  position: sticky;
  top: 0;
  align-self: flex-start;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
  }

  @media screen and (max-width: 700px) {
    max-width: 230px;
    padding-left: 15px;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-102%);
    height: 100vh;
    overflow: auto;
    padding-top: 110px;
  }

  @media screen and (max-width: 500px) {
    padding-top: 80px;
  }
}

.sidebarVisible {
  transform: translateX(0);
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(16px);
  transition: width 0.2s ease-in;
  z-index: 8;
}

.overlayVisible {
  @media screen and (max-width: 700px) {
    width: 100vw;
  }
}

.searchInput {
  font: var(--font-text-3);
  max-width: 192px;
  outline: none;
  margin-right: 20px;

  @media screen and (max-width: 370px) {
    margin-bottom: 20px;
  }

  &::placeholder {
    color: var(--color-gray-03);
  }
}

.searchIcon {
  margin-right: 5px;

  svg {
    width: 14px;
    color: var(--color-gray-03);
  }
}

.sidebarItem {
  border-bottom: var(--border-gray-1);
  margin-top: 20px;

  @media screen and (max-width: 700px) {
    padding-right: 15px;
  }

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.sidebarTitle {
  font: var(--font-text-5);
  margin-bottom: 5px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.sidebarList {
  margin-top: 20px;
  width: 100%;

  :global {
    .ant-radio-group {
      width: 100%;

      > div:first-of-type {
        padding-top: 0;
      }
    }
  }
}

.sidebarListItem {
  border-bottom: var(--border-gray-1);
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

li.sidebarListItem:first-of-type {
  padding-top: 0;
}

.sidebarItemAmount {
  margin-left: auto;
}

.sidebarItemName {
  margin-right: 10px;
}

.seeMoreLink {
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  color: var(--white-color);
  position: relative;
  overflow: hidden;
  margin-top: 11px;

  svg {
    width: 9px;
    height: 9px;
    margin-left: 10px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    bottom: 0;
    left: -100%;
    height: 1px;
    background-color: var(--white-color);
    transition: left 0.2s ease-in;
  }

  &:hover {
    color: var(--white-color);

    &::after {
      left: 0;
    }
  }
}

.filterList {
  margin-top: 20px;

  &:first-of-type {
    margin-top: 0;
  }

  .sidebarList {
    margin-top: 0;
  }

  .sidebarListItem {
    text-transform: none;
  }

  :global {
    .ant-collapse {
      border: none;
      border-radius: 0;

      > .ant-collapse-item
        .ant-collapse-header-collapsible-only
        .ant-collapse-header-text {
        display: block;
        position: relative;
        z-index: 1;
      }
    }

    .ant-collapse > .ant-collapse-item:last-child,
    .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
      padding: 8px 10px;
      border-radius: 0;
      border: none;
    }

    .ant-collapse > .ant-collapse-item:last-child {
      padding: 0;
    }

    .ant-collapse-item:last-child > .ant-collapse-content {
      border: none;
      border-radius: 0;
      padding: 0;
    }

    .ant-collapse-content > .ant-collapse-content-box {
      padding: 10px;
    }

    .ant-collapse
      > .ant-collapse-item
      > .ant-collapse-header
      .ant-collapse-arrow {
      position: absolute;
      right: 0;
      top: 13px;
      z-index: 0;

      svg {
        transform: rotate(-90deg);
      }
    }

    .ant-collapse-content {
      background-color: var(--color-gray-7);
    }
  }
}

.chosenItem {
  margin-bottom: 20px;
  padding: 10px;
  background-color: var(--color-gray-7);
  display: flex;
  align-items: center;
}

.chosenImage {
  background-color: var(--color-gray-4);
  height: 46px;
  width: 46px;
  background-size: cover;
  background-position: center;
}

.chosenInfo {
  margin-left: 10px;
}

.chosenName {
  font-size: 18px;
  margin-bottom: 5px;
}

.chosenItemsAmount {
  font-size: 14px;
}

.collapse {
  border: none;
}

.collapseHeader {
  font: var(--font-text-5);
  text-transform: uppercase;
  border: none;
  background-color: var(--color-gray-7);
}
