.finished {
  font: var(--font-btn-small);
  display: flex;
  align-items: center;
  margin-top: 9px;
  margin-bottom: 39px;

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.finishedIcon {
  margin-right: 8px;
}

.buyoutControls {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.buyout__connectWalletBtn {
  font: var(--font-btn-small);
  max-width: 180px;
  min-height: 100%;
}

.buyout__buyoutBtn {
  min-height: 100%;
  padding-top: unset;
  padding-bottom: unset;
  height: 88px;

  @media screen and (max-width: 450px) {
    width: 100%;
    display: block;
  }
}

.loader {
  margin-top: 16px;
}

.buyoutControls {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 24px;

  @media screen and (max-width: 500px) {
    column-gap: 15px;
  }

  :global {
    .ant-form-item-label {
      margin-bottom: 4px;
      font: var(--font-secondary);
      opacity: 0.25;
      line-height: 17px;
      padding: 0 !important;
    }

    .ant-form-item {
      flex-grow: 2;
      flex-shrink: 1;
      max-width: 60%;

      @media screen and (max-width: 380px) {
        max-width: 55%;
      }
    }

    .ant-input {
      font-size: 18px;

      @media screen and (max-width: 500px) {
        font-size: 15px;
        padding-right: 0;
      }

      @media screen and (max-width: 380px) {
        padding-left: 10px;
      }
    }
  }
}

.buyout__tokenField {
  height: 48px;
  font-size: 18px;

  @media screen and (max-width: 500px) {
    font-size: 15px;
  }
}

.buyout__buyoutBtn,
.buyout__connectWalletBtn {
  min-height: 100%;
  flex-grow: 1;
  flex-shrink: 2;
  padding: 0 10px;
  height: 48px;
  margin-top: 2px;
  justify-content: center;
  max-width: none;
  font-family: var(--font-family-oxanium);
  font-size: 18px;

  @media screen and (max-width: 767px) {
    font-size: 15px;
    width: auto;
  }

  @media screen and (max-width: 500px) {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
  }
}

div .connectWalletBtn {
  width: 100%;
  margin-top: 24px;
  font: var(--font-btn-small);
  justify-content: center;
  height: 48px;
}
