body {
  .toggle,
  .toggle:global(.ant-switch-disabled) {
    &:focus {
      outline: 0;
      box-shadow: unset;
    }
    :global {
      opacity: 1;
      .ant-click-animating-node {
        display: none;
      }

      .ant-switch-handle {
        width: 39px;
        height: 8px;
        top: -9px;
        left: -1px;
      }
      .ant-switch-handle::before {
        width: 24px;
        height: 24px;
        background: var(--gray-color-1);
        border-radius: 32px;
      }

      width: 39px;
      height: 8px;
      border: 1px solid var(--gray-color-9);
      box-sizing: border-box;
      background-color: transparent;
      border-radius: 6px;
      margin: 8px;
    }
  }

  .toggle:global.ant-switch-checked {
    background: var(--gray-color-9);
    border-color: var(--gray-color-9);
    .ant-switch-handle {
      transform: translateX(19px);
    }
    .ant-switch-handle::before {
      background: var(--accent-color-1);
      box-shadow: 0 0 6px 1px var(--accent-shadow-color);
    }
  }

  .toggle:global.ant-switch-checked.ant-switch-disabled {
    .ant-switch-handle::before {
      background: var(--gray-color-1);
      box-shadow: none;
    }
  }
}

.filterToggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  &__text {
    font: var(--font-btn-mid);
    transition: opacity var(--transition-1);
    font-size: 18px;

    &_muted {
      opacity: 0.3;
    }
  }
}
