@import './base/reset.scss';
@import './base/scrollBar.scss';
@import './abstracts/fonts.scss';
@import './abstracts/variables.scss';

body {
  background: var(--black-color);
  color: var(--white-color);
  font: var(--font-text-3);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--white-color);
}

.fraktion__notification {
  svg.anticon {
    fill: var(--accent-color-1);
  }

  background: var(--black-color) !important;
  border: 1px solid var(--gray-color-3);
  border-radius: 0 !important;

  :global {
    .ant-notification-notice-message {
      color: var(--white-color);
    }
  }
}
.fraktion__notificationLink {
  &,
  &:hover {
    color: var(--accent-color-1);
    text-decoration: underline;
  }
}

.itemForIntersectionMenu {
  position: absolute;
  z-index: -1;
  opacity: 0;
  max-height: 100vh;
  height: 100vh;
  top: 10px;
  left: 0;
  font-size: 1px;
  width: 1px;
}
