@mixin container {
  padding: 24px;
  background-color: var(--black-color);
  position: relative;
  z-index: 1;

  @media screen and (max-width: 700px) {
    padding: 18px;
  }

  @media screen and (max-width: 550px) {
    padding: 11px;
  }
}

.cardContainer {
  padding: 0 10px 10px 0;
  height: 100%;

  .card {
    height: 100%;

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      border: 1px solid var(--gray-color-6);
      background-color: var(--black-color);
      top: 10px;
      left: 10px;
      z-index: -1;
      transition: border-color var(--transition-1), opacity var(--transition-1);
    }

    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid var(--gray-color-6);
    color: var(--white-color);
    transition: border-color var(--transition-1);

    &:hover {
      border-color: var(--accent-color-1);
      &::before {
        opacity: 0.5;
        border-color: var(--accent-color-1);
      }
    }

    .nameContainer {
      @include container();
      border-top: 1px solid var(--gray-color-6);
      border-bottom: 1px solid var(--gray-color-6);
      flex-grow: 1;

      .name {
        font: var(--font-subtitle-2);
        color: var(--white-color);
        margin-bottom: 15px;
        word-break: break-word;
        line-height: 1.25em;
        max-height: 60px;
        overflow: hidden;

        @media screen and (max-width: 700px) {
          font-size: 19px;
          margin-bottom: 10px;
        }

        @media screen and (max-width: 550px) {
          font-size: 15px;
        }
      }

      .owner {
        font: var(--font-secondary);
        display: flex;
        align-items: center;

        &__avatar {
          margin-right: 8px;
          margin-bottom: 2px;
          width: 16px;
          height: 16px;
          background: var(--gray-color-3) no-repeat center;
          background-size: cover;
          border-radius: 50%;
        }

        @media screen and (max-width: 700px) {
          font-size: 11px;
        }

        @media screen and (max-width: 550px) {
          font-size: 9px;
        }
      }
    }

    .stats,
    .infoWrapper {
      @include container();
      display: flex;
      justify-content: space-between;
      gap: 16px;

      @media screen and (max-width: 767px) {
        gap: 10px;
      }

      @media screen and (max-width: 550px) {
        flex-wrap: wrap;
      }

      .item {
        .title {
          font: var(--font-smallest);
          text-transform: uppercase;
          color: var(--gray-color-3);
          max-width: 65px;
          min-height: 28px;
        }

        .value {
          font: var(--font-btn-small);
          color: var(--white-color);
          margin-top: 8px;
        }

        @media screen and (max-width: 767px) {
          .value {
            font-size: 19px;
          }
        }

        @media screen and (max-width: 550px) {
          min-width: 40%;

          .title {
            max-width: 55px;
            font-size: 9px;
          }

          .value {
            font-size: 15px;

            @media screen and (max-width: 420px) {
              font-size: 12px;
            }
          }
        }
      }
    }

    .infoWrapper {
      padding: 0;

      @media screen and (max-width: 1450px) {
        flex-wrap: wrap;
      }
    }

    .statsAuction {
      display: block;
    }
  }
}

.imageWrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: var(--black-color);
  height: 265px;
  border-bottom: 1px solid var(--gray-color-6);
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    height: 270px;
  }

  @media screen and (max-width: 550px) {
    height: 200px;
  }

  @media screen and (max-width: 450px) {
    height: 160px;
  }

  @media screen and (max-width: 370px) {
    height: 250px;
  }
}

.noImg {
  position: relative;

  &::before {
    content: 'No NFT';
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 40px;
    color: var(--gray-color-3);
  }
}

.vaultImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 10px 0 50px rgba(0, 0, 0, 0.5);
  transition: left var(--transition-1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  &:nth-of-type(1) {
    z-index: 3;
  }

  &:nth-of-type(2) {
    z-index: 2;
  }

  &:nth-of-type(3) {
    z-index: 1;
  }
}

.has1Img {
  .vaultImage {
    &:nth-of-type(2),
    &:nth-of-type(3) {
      display: none;
    }
  }
}

.has2Img {
  .vaultImage {
    &:nth-of-type(1) {
      left: -30%;
    }

    &:nth-of-type(2) {
      display: block;
    }

    &:nth-of-type(3) {
      display: none;
    }
  }
}

.has3Img {
  .vaultImage {
    &:nth-of-type(1) {
      left: -30%;
    }

    &:nth-of-type(2) {
      left: -15%;
    }

    &:nth-of-type(3) {
      display: block;
    }
  }
}

.imageHovered1 {
  .vaultImage {
    &:nth-of-type(1) {
      left: -70%;
    }
  }
}

.imageHovered2 {
  .vaultImage {
    &:nth-of-type(1) {
      left: -70%;
    }

    &:nth-of-type(2) {
      left: -55%;
    }
  }
}

.mainAppearance {
  position: relative;

  .actions {
    z-index: 5;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 8px;
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

    .badge {
      text-transform: uppercase;
      cursor: default;

      &:last-of-type {
        text-transform: none;
      }
    }

    @media screen and (max-width: 700px) {
      padding: 18px;
    }

    @media screen and (max-width: 550px) {
      padding: 11px;
      gap: 5px;
    }
  }
}

.countdown {
  display: flex;
  align-items: center;
}

.timeDelim {
  margin-left: 5px;
  margin-right: 5px;
}

.timeProgressWrapper {
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-4);
  position: relative;
  margin-top: 10px;

  .timeProgress {
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    background-color: var(--accent-color-1);
  }
}
